
<h1>Burp</h1>
<p><em>The Big Universal Rubik's cube Processor</em>.</p>
<p>Until we figure out how solve a Rubiks cube your welcome to use Burp as a CMS.</p>

<h3>Why Burp?</h3>
<p>We think most CMS are some where between bad and awful!</p>
<p>So we created a new one in hope that we and others would like it. We have 3 guiding goals that help us stay away from bad and awful.</p>
<ul>
  <li>Don't hinder the developer.</li>
  <li>Don't try to solve everything.</li>
  <li>Don't be ugly.</li>
</ul>

<h3>Links</h3>

<ul>
  <li><a href="https://github.com/bjornblomqvist/burp">Homepage</a></li>
  <li><a href="https://github.com/bjornblomqvist/burp/issues">Bug reporting</a></li>
  <li><a href="https://github.com/bjornblomqvist/burp/wiki">Wiki</a></li>
</ul>

<p>You are runing version <strong><%= Burp::VERSION %></strong> of Burp.</p>
