<h1>Burp</h1>
<p><em>The Big Universal Rubik's cube Processor</em>.</p>
<p>Until we figure out how solve a Rubiks cube your welcome to use Burp as a CMS.</p>
<h3>Why Burp?</h3>
<p>We think most CMS suck!</p>
<p>So we created a new one in hope that it would not suck. We have 3 guiding goals that help us stay away from suckieness.</p>
<ul>
  <li>Don't hinder the developer.</li>
  <li>Don't try to solve everything.</li>
  <li>Don't be ugly.</li>
</ul>
