<h1>Files</h1>

<hr>

<table>
  <tbody>
  <% @files.each do |file| %>  
    <tr>
      <td><%= link_to file.public_path, file.public_path, :title => "Click to open" %></a></td>
      <td><%= link_to file.mtime.strftime("%Y-%m-%d %H:%M"), file.public_path, :title => "Click to open" %></a></td>
      <td><%= link_to number_to_human_size(file.size, :precision => 2), file.public_path, :title => "Click to open" %></a></td>
      <td><%= link_to 'Remove', file_path(file), :confirm => 'Are you sure?', :id => 'remove-link', :title => "Click to remove file.", :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  
  <div id="file-uploader">
      <noscript>
          <p>Please enable JavaScript to use file uploader.</p>
          <!-- or put a simple form for upload here -->
      </noscript>
  </div>
  
  <script type="text/javascript" charset="utf-8">
  
    <% content_for :inline_javascript do %>
      
      
      
    <% end %>
    
  </script>
  