<div class="well well-large on-page-documentation">
  <h2>Howto</h2>
  
  <h4>Change page title</h4>
  <p>
    Click on the title or path of a page. Enter the new title and click save.
  </p>
  
  <h4>Change page path</h4>
  <p>
    Click on the title or path of a page. Enter the new path and click save.
  </p>
  
  <h4>Change page content</h4>
  <ol>
    <li>Click on the "Go to page" link for the page you want to change.</li>
    <li>Press down the "ctrl-esc" keys.</li>
    <li>Select a section and click on the pen icon.</li>
    <li>Enter your new content and click the save button.</li>
  </ol>
  
  <h4>View a page</h4>
  <p>
    Click on the "Go to page" link.
  </p>
</div>


<h1>Pages</h1>

<hr>

<table>
  <tbody>
  <% @pages.sort{|a,b| a.path <=> b.path}.each do |page| %>
  <tr>
    <td><%= link_to "#{page.title}", edit_page_path(page), :title => "Click to edit" %></td>
    <td><%= link_to "#{page.path}", edit_page_path(page), :title => "Click to edit" %></td>
    <td><%= link_to "Go to page", page.path %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to "» New page", new_page_path %>
