.dropbox { position: relative; }
.dropzone {
  position: absolute; top: 0px; height: 100%;
  border: 1px solid white; background: rgba(0,0,0,0.5); opacity: 0.5;
  visibility: visible;
  z-index: 2;
}
.dropzone.left { left: 0; width: 25%; }
.dropzone.center { left: 25%; width: 50%; }
.dropzone.right { left: 75%; width: 25%; }
.active .dropzone { visibility: visible; }
.dropzone.active { opacity: 0.95; }

.movable.ui-draggable-dragging { z-index: 500; }
.hovering { background: yellow; }