
  <% @file_paths.each do |file_path| %>
  
    <a href="<%= file_path %>"><%= file_path %></a><br>
  
  <% end %>
  
  <br><br>
  <div id="file-uploader">
      <noscript>
          <p>Please enable JavaScript to use file uploader.</p>
          <!-- or put a simple form for upload here -->
      </noscript>
  </div>
  
  <script type="text/javascript" charset="utf-8">
  
    <% content_for :inline_javascript do %>
      
      var uploader = new qq.FileUploader({
          element: document.getElementById('file-uploader'),
          action: '/burp/files',
          onComplete: function(id, fileName, responseJSON){
            if(responseJSON.success) {
              document.location.reload(true);
            } else {
              var errorMessage = "";
              $.each(responseJSON.errors,function(index,error) {
                $.each(error,function(key,value) {
                  errorMessage += value;
                });
              });
              alert(errorMessage);
            }
          },
      });
      
    <% end %>
    
  </script>
  