

.dnd-editable-menu {
  
  > .group {

    .group-name {
      color: #0088CC;
      cursor: pointer;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      display: inline;
      margin: 0px;
  
      &:hover {
        color: #005580;
      }
    }
    
    > ul.children {
      min-height: 27px;
    }
    
    .draging {
      opacity: 0.5;
    }

    ul {
      list-style: none;
      margin-left: 32px;
    }

    a:hover {
      text-decoration: none;
    }

    .first-link-in-group  {
      display: none;
    }

    > .group-name {
      display: none;
    }
  
    > .group {
      font-size: 15px;
    }
  
    li {
      min-height: 27px;
      line-height: 27px;
    }
  
  
    /*
      Drag buttons
    */
    .drag-handel {
      background-color: #468847;
      border-radius: 3px 3px 3px 3px;
      color: #FFFFFF;
      cursor: move;
      display: inline-block;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: normal;
      letter-spacing: 0.5px;
      line-height: 14px;
      margin-right: 5px;
      padding: 2px 4px;
      position: relative;
      text-transform: uppercase;
      top: 0;
      vertical-align: middle;
    }
    
    .group > .drag-handel {
        background: #F89406;
    }
  }
  
}