<!DOCTYPE html>
<html>
<head>
  <title>Burp</title>
  <%= stylesheet_link_tag    "burp/application", :media => "all" %>
  <%= javascript_include_tag "burp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main">
  <nav>
    <a href="/burp/">Home</a>
    <a href="/burp/pages/">Pages</a>
    <a href="/burp/files/">Files</a>
  </nav>
  <div class="content">
<%= yield %>
  </div>
</div>

</body>
</html>
