.burp-files-index {
  .file-upload-drop-area-active {
    background: #eee;
  }
  
  .file-upload-drop-area {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    display: block !important;
    font-size: 30px;
    font-weight: bold;
    line-height: 120px;
    margin: 60px auto 20px;
    text-align: center;
    width: 800px;
  }
  
  .file-upload-button {
    display: block;
    margin: 20px auto;
    width: 160px;
  }
  
  .upload-time {
    min-width: 115px;
  }
  
  .file-size {
    min-width: 60px;
    text-align: right;
  }
  
  .actions {
    text-align: center;
    min-width: 80px;
  }
  
  table {
    margin: 30px auto;
    width: 800px;
  }
}