

<h1><%= @menu.name %></h1>

<span class="dnd-editable-menu">
<%= @menu.to_html %>
</span>

<%= link_to "» New group", new_group_menu_path(@menu) %>

<hr>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<script type="text/javascript" charset="utf-8">
  
  <% content_for :inline_javascript do %>
    
  $(function() {

    // Fix menu urls so that they go to the edit pages
    $('section.group li.link a').each(function() {
      var id = $(this).attr('id');
      $(this).attr('href',"./links/"+id+"/edit");
    });
    
    $('section.group').each(function() {
      var id = $(this).attr('id');
      var groupName = $(this).find(".group-name").first();
      groupName.html('<a href="./groups/'+id+'/edit">'+groupName.text()+'</a>')
    });

  });
  
  <% end %>
    
</script>