
<h1>Pages</h1>

<hr>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

<hr>

<h3>Main menu</h3>
<%= @menu.to_html %>

<hr>


<h3>Pages not in menu</h3>
<%= @other_pages.to_html %>

<%= link_to "» New page","/burp/pages/new" %>

<script type="text/javascript" charset="utf-8">
  
  l8r(function() {
    $(function() {

        // Fix so that clicks send the persion to the edit page
      $('section.group li.link a').click(function() {
        var orginial_url = $(this).attr('href');
        $(this).attr('orginial-url',orginial_url);
        
        if(orginial_url == "/") {
          $(this).attr('href',"/burp/pages//$root/edit");
        } else {
          $(this).attr('href',"/burp/pages/"+orginial_url+"/edit");
        }
        s
        setTimeout(function() {
          if($(this).attr('orginial-url')) {
            $(this).attr('href',$(this).attr('orginial-url'));
            $(this).removeAttr('orginial-url');
          }
        },10);
      });
    });
  });
    
</script>